body {
  background-image: url(/img/fancy-background-images-2560x1440.jpg);
}

.head {
  text-align: center;
  color: coral;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 50px;
}

.contentMain {
  font-size: 25px;
  color: coral;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 50px;
  padding-left: 30px;
  text-align: center;
}
